* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: rgb(43, 41, 41);
    float: left;
    /* position: sticky; */
    top: 0px;
    z-index: 1;


}

nav a {
    text-decoration: none;
    font-size: 13.5px;
    padding: 20px;
    color: white;
    position: relative;
    left: 150px;
    font-weight: bolder;
    font-family: 'M PLUS 1p', sans-serif;
    box-sizing: border-box;


}

nav a:hover {
    color: wheat;
}

.fab {
    font-size: 20px;
    position: relative;
    top: 2px;
    left: 10px;

}

.fas {
    font-size: 14px;
}

#search {
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'M PLUS 1p', sans-serif;
    width: 130px;
    position: relative;
    left: 15px;

}

nav:hover, .Section_1:hover {
    color: rgb(189, 194, 167);
    cursor: pointer;

}



body {
    background-color: #f5f5f7;
    /* overflow: hidden; */
    /* background-color: rgb(253, 243, 243); */
    overflow-x: hidden;

}

.Icon_Heading {
    height: 120px;
    width: 100%;
    /* border: 2px solid rgb(255, 52, 52); */
    background-color: white;
    position: relative;
    top: 45px;

}

.Icon_Heading:hover {
    cursor: pointer;


}

.I1 {
    position: relative;
    top: -25px;
    left: 320px;
    margin-left: 25px;

}

.Icon_Link a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#a1:hover {
    transition: all ease 0.1s;
    transform: scale(1.1);
    color: rgb(99, 18, 175);


}

.a1 {
    position: relative;
    left: 330px;
    top: 7px;
}

.a2 {
    position: relative;
    left: 370px;
    top: 7px;

}

.a3 {
    position: relative;
    left: 430px;
    top: 7px;
}

.a4 {
    position: relative;
    left: 478px;
    top: 7px;
}


.a5 {
    position: relative;
    left: 515px;
    top: 7px;
}


.a6 {
    position: relative;
    left: 555px;
    top: 7px;
}





.Shop_offer {
    height: 30px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: rgb(238, 232, 232);
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 23px;
    line-height: 30px;
}

.Shop_offer:hover {
    transition: all 0.4s ease-in-out;
    background-color: rgb(82, 140, 216);
    color: #f5f5f7;
    cursor: pointer;
}

#Shop_Link:hover {
    color: white;
}

.Section_1 {
    height: 550px;
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    top: 20px;
    border-radius: 30px;
    overflow: hidden;
    background-color: black;
}

.Airpod1 {
    position: relative;
    z-index: 1;
    height: 660px;
    width: 100%;
    /* left: 510px; */
    top: -150px;
    opacity: 0.1;
}

.Video_1 {
    position: absolute;
    top: -30PX;
}

.link1 {
    width: 50px;
    height: 30px;
    font-size: 18px;
    position: absolute;
    left: 570px;
    top: 400px;
    border-radius: 30px;
    background-color: rgb(22, 22, 223);
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.link1 a {
    text-decoration: none;
    color: rgb(255, 243, 243);
    padding: 10px;
    line-height: 30px;
}

.link1:hover {
    background-color: rgb(63, 50, 50);
}

.link2 {
    width: 100px;
    height: 30px;
    font-size: 17px;
    position: absolute;
    left: 650px;
    top: 405px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link2 a {
    text-decoration: none;
    color: rgb(57, 131, 228);
}

.link2 a:hover {
    border-bottom: 2px solid rgb(57, 131, 228);
    width: 60px;

}

.Section_2 {
    height: 650px;
    width: 100%;
    /* border-bottom: 2px solid black; */
    border-top: 2px solid black;
    /* border: 1px solid black; */
    background-image: url("Apple Images/Airpod pro1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}



.Heading_1 {
    background: -webkit-linear-gradient(120deg, #618304, hsl(229, 67%, 42%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 287px;
    font-size: 130px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 6px;

}


.Apple_logo1 {
    position: relative;
    left: 669px;
    top: 171px;
    border-radius: 30px;
}

.Apple_logo1:hover {
    rotate: 360deg;
    transition: all ease-in-out 3s;

}

.Heading_2 {
    position: relative;
    top: 190px;
    font-size: 22px;
    background: -webkit-linear-gradient(180deg, #b9a911, hsl(4, 61%, 35%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 3px;
}

.link3 {
    width: 50px;
    height: 30px;
    font-size: 18px;
    position: absolute;
    left: 560px;
    top: 1230px;
    border-radius: 30px;
    background-color: rgb(22, 22, 223);
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.link3 a {
    text-decoration: none;
    color: rgb(255, 243, 243);
    padding: 10px;
    line-height: 30px;
}

.link3:hover {
    background-color: rgb(63, 50, 50);
}

.link4 {
    width: 100px;
    height: 30px;
    font-size: 17px;
    position: absolute;
    left: 630px;
    top: 1235px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link4 a {
    text-decoration: none;
    color: rgb(57, 131, 228);
}

.link4 a:hover {
    border-bottom: 2px solid rgb(57, 131, 228);
    width: 60px;

}



.Section-3 {
    height: 750px;
    width: 100%;
    /* background: -webkit-linear-gradient(180deg, #cf2173, #ffef12);
    -webkit-background-clip:text;
    -webkit-text-fill-color:text; */
    border-bottom: 2px solid black;
    background-color:#f3b816;
    /* border-top: 2px solid black; */
    /* border: 1px solid black; */
    overflow: hidden;
}

.Air1 {
    position: relative;
    left: 100px;
    top: 80px;
}

.Air2 {
    position: relative;
    left: 100px;
    top: 80px;
}

.Heading_3{
    position: absolute;
    top: 1740px;
    left: 750PX;
    font-size: 120px;
    background: -webkit-linear-gradient(180deg, #18383d, hsl(133, 94%, 33%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 3px;
    
}


.Heading_4 {
    position:absolute;
    top: 1880px;
    left: 850px;
    font-size: 24px;
    background: -webkit-linear-gradient(180deg, #443a3a, hsl(108, 82%, 13%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 3px;
}

.link5{
    height: 30px;
    width: 60px;
    border-radius: 30px;
    background-color: #14119e;
    position: absolute;
    top: 90px;
    top: 1950px;
    left: 870px;
    
}

.link5 a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    height: 30px;
    width: 70px;
    border-radius: 30px;
    line-height: 30px;
    color: white;
    position: relative;
    left: 15px;
  
    
}


.link6{
    height: 30px;
    width: 90px;
    border-radius: 30px;
    position: absolute;
    top: 90px;
    top: 1950px;
    left: 920px;
    
}

.link6 a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    height: 30px;
    width: 70px;
    border-radius: 30px;
    line-height: 30px;
    font-size: 17px;
    color: rgb(34, 24, 173);
    position: relative;
    left: 20px;
    
}

.link5:hover{
    background-color: #c5901e;
    color: black;
}

.Section-4{
    height: 690px;
    width: 100%;
    border-bottom: 2px solid white;
    /* border-top: 2px solid white; */
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-size: calc(36%);
    background-position-y: 0px;
    background-color: black;
    
}

.Heading_5{
    position: relative;
    top: 170px;
    color: rgb(255, 249, 249);
    font-size: 190px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: 2px;
    /* text-shadow: 9px 8px 10px  gray; */
    opacity: 0.3;

}

.Air_pod_Max{
    position: relative;
    left: 415px;
    bottom:200px;
}

.Air_pod_Max:hover{
    rotate: 360deg;
    transition:all ease-in-out 3s;
}

.link7 {
    width: 50px;
    height: 30px;
    font-size: 18px;
    position: relative;
    left: 590px;
    bottom: 130px;
    border-radius: 30px;
    background-color: rgb(22, 22, 223);
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.link7 a {
    text-decoration: none;
    color: rgb(255, 243, 243);
    padding: 10px;
    line-height: 30px;
}

.link7:hover {
    background-color: rgb(63, 50, 50);
}

.link8 {
    width: 100px;
    height: 30px;
    font-size: 17px;
    position: relative;
    bottom: 155px;
    left: 675px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link8 a {
    text-decoration: none;
    color: rgb(57, 131, 228);
}

.link8 a:hover {
    border-bottom: 2px solid rgb(57, 131, 228);
    width: 60px;

}

.Section-5{
    height: 2650px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: rgb(255, 255, 255);

}
.Compare-sheet{
    position: relative;
    left: 150px;
    top: 100px;
}

.Heading_6{
    position: relative;
    top: 50px;
    /* color: rgb(0, 0, 0); */
    background: -webkit-linear-gradient(180deg, #18f7ff, hsl(273, 82%, 58%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    text-align:center;
    font-family: 'Franklin Gothic Medium';
    /* text-shadow: 9px 8px 10px  gray; */
    

}


.Writing_Section{
    height: 660px;
    width: 100%;
    /* border: 2px solid green; */
    position: relative;
    bottom: 0px;

}

.Heading {
    position: relative;
    left: 110px;
    top: 30px;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
}

.aa1, .aa2 {
    text-decoration: none;
    position: relative;
    top: 60px;
    left: 112px;
    font-size: 15px;
    color: rgb(255, 243, 243);
    background-color: rgb(110, 79, 79);
    font-family: sans-serif;
    border: none;
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 40px;
}

.Writing_Section .aa1:hover, .aa2:hover {
    background-color: wheat;
    color: black;
}

.p13 {
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 112px;
    top: 100px;
    width: 85%;
    line-height: 20px;

}

.p14 {
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 112px;
    top: 115px;
    width: 85%;
    line-height: 20px;
}


.p15 {
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 112px;
    top: 132px;
    width: 85%;
    line-height: 20px;
}

.p16 {
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 112px;
    top: 145px;
    width: 85%;
    line-height: 20px;
}

.p17 {
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 112px;
    top: 155px;
    width: 85%;
    line-height: 20px;
}

.p18 {
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
    position: relative;
    left: 112px;
    top: 185px;
    width: 85%;
    line-height: 20px;
}




footer {
    height: 480px;
    width: 100%;
    color: none;
    /* border: 2px solid black; */
    /* background-image: url("Apple Images/Apple lo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -200px;
    /* overflow: hidden; */
    /* border: 1px solid black; */
    overflow: hidden;
    transition: all 0.4s linear;
    background-color: rgb(247, 240, 224);

}

footer:hover {
    background-position-x: 40px;


}


footer .Box1 {
    height: 400px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    left: 80px;

}

.h22 {
    color: rgb(31, 20, 49);
    margin: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 10px;
    left: 10px;
    font-weight: bold;
    width: 58%;
    text-align: center;
    border-bottom: 2px solid black;
    text-shadow: 1px 2px 1px rgb(187, 185, 185);
    letter-spacing: 1px;
}

footer .Box1 a {
    text-decoration: none;
    display: block;
    position: relative;
    left: 35px;
    max-width: 5px 0px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
    text-align: left;

}

footer .Box2 {
    height: 400px;
    width: 12%;
    position: relative;
    left: 310px;
    /* background-color: aqua; */
    bottom: 325px;
    font-family: 'M PLUS 1p', sans-serif;

}

.h23 {
    color: rgb(31, 20, 49);
    margin: 30px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 95px;
    left: 17px;
    font-weight: bold;
    width: 52%;
    text-align: center;
    border-bottom: 2px solid black;
    text-shadow: 1px 2px 1px rgb(187, 185, 185);
    letter-spacing: 1px;
}

footer .Box2 a {
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    left: 47px;
    bottom: 110px;
    line-height: 40px;
    /* width: -40px; */
    text-align: center;
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
    text-align: left;
}

footer .Box3 {
    height: 400px;
    width: 12%;
    position: relative;
    left: 490px;
    /* background-color: aqua; */
    bottom: 670px;
    font-family: 'M PLUS 1p', sans-serif;

}

.h24 {
    color: rgb(31, 20, 49);
    margin: 20px;
    font-size: 17px;
    position: relative;
    bottom: 170px;
    width: 74%;
    text-align: center;
    border-bottom: 2px solid black;
    left: 58px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 1px rgb(187, 185, 185);
    letter-spacing: 1px;

}

footer .Box3 a {
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    left: 80px;
    bottom: 175px;
    line-height: 40px;
    /* width: -40px; */
    text-align: center;
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
    text-align: left;
}


footer .Box4 {
    height: 400px;
    width: 15%;
    position: relative;
    left: 650px;
    /* background-color: aqua; */
    bottom: 950px;
    font-family: 'M PLUS 1p', sans-serif;

}

.h25 {
    color: rgb(31, 20, 49);
    margin: 20px;
    font-size: 17px;
    position: relative;
    bottom: 310px;
    left: 135px;
    width: 41%;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 1px rgb(187, 185, 185);
    letter-spacing: 1px;
}

footer .Box4 a {
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    left: 155px;
    bottom: 313px;
    line-height: 40px;
    /* width: -40px; */
    text-align: center;
    color: black;
    font-size: 13px;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: left;
}


footer .Box5 {
    height: 400px;
    width: 15%;
    position: relative;
    left: 645px;
    /* background-color: aqua; */
    bottom: 950px;
    font-family: 'M PLUS 1p', sans-serif;



}

.h26 {
    color: rgb(31, 20, 49);
    margin: 20px;
    font-size: 17px;
    position: relative;
    bottom: 730px;
    width: 68%;
    text-align: center;
    left: 365px;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 1px rgb(187, 185, 185);
    letter-spacing: 1px;
}

footer .Box5 a {
    text-decoration: none;
    display: block;
    position: relative;
    left: 385px;
    bottom: 735px;
    line-height: 40px;
    /* width: -40px; */
    text-align: center;
    color: black;
    font-size: 13px;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: left;
}

.Box1 a:hover, .Box2 a:hover, .Box3 a:hover, .Box4 a:hover, .Box5 a:hover {
    color: rgb(104, 101, 74);
    font-size: 16px;
    /* transition: all 1s ease-in-out;
    transition-duration: 0.5s; */
    font-weight: bolder;
    transform: scale(1.2);
    transition: .2S ease-out;
}



.FP1 {
    position: absolute;
    top: 6530px;
    left: 110px;
    font-family: 'M PLUS 1p', sans-serif;
    width: 85%;
    border-bottom: 2px solid rgba(59, 56, 56, 0.486);

}

.FP2 {
    position: absolute;
    top: 6555px;
    font-family: 'M PLUS 1p', sans-serif;
    left: 110px;

}

.FP3 {
    position: absolute;
    top:6555px;
    font-family: 'M PLUS 1p', sans-serif;
    left: 500px;
    word-spacing: 5px;

}

.Back_to_top{
    z-index: 99;
    position:relative;
    top: 1000px;
    left: 1240px;
    border-radius: 10px;
}

.Back_button{
    border-radius: 10px;
}

.Back_button:hover{
    transition: all 0.9s linear;
    rotate: 360deg;
}

